@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --image-width: 150px;
    --image-height: 150px;
    --picture-amount: 4;
    --picture-whitespace: 25px;
    --logos-width: calc((var(--picture-amount) * var(--picture-whitespace)) + (var(--image-width) * var(--picture-amount)));
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url("../images/bg-velo-header.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.header-sm {
    background-image: url("../images/bg-velo-header.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center center;
}

.header-lg {
    background-image: url("../images/bg-velo-header.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

header>div {
    background-color: rgb(0, 0, 0, 65%);
}

/* @keyframes slide {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-103%); /* 100 on pc */
/* }  */
/* } */

#section-grad-1

/* Speisekarte */
    {
    background: rgb(0, 115, 0);
    background: linear-gradient(180deg, rgba(0, 115, 0, 1) 0%, rgba(79, 115, 79, 1) 100%);
}

#section-grad-2 {
    background: rgb(79, 115, 79);
    background: linear-gradient(180deg, rgba(79, 115, 79, 1) 0%, rgba(92, 110, 92, 1) 100%);
}

#section-grad-3 {
    background: rgb(81, 104, 81);
    background: linear-gradient(180deg, rgba(81, 104, 81, 1) 0%, rgba(56, 65, 56, 1) 100%);
}

#scroll-container {
    /* overflow: scroll; */
    /* The problem is that justify-content-center centers the elements and we count the scroll from there */
    overflow-x: auto;
}

.logos {
    overflow: auto;
    white-space: nowrap;
}

/* .logos:hover .logos-slide {
    animation-play-state: paused;
} */

.logos-slide {
    /* display: inline-block; */
    /* margin: 0 15px; */
    /* animation: 12s slide infinite linear; */
}

.logos-slide img {
    /* display: inline-block; */
    margin: 0 40px;
    /*50 on pc*/
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for scaling */
}

.logos-slide img.active {
    transform: scale(1.3);
    /* Adjust the scale as needed */
    z-index: 1;
    /* Ensure the enlarged image appears above others */
}

.logos-slide img.near-active {
    transform: scale(1.15);
    /* Slightly smaller scale for adjacent images */
    z-index: 0;
    /* Keep them behind the center image */
}


::selection {
    background-color: #FF822E;
    color: white;
}



.nav-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #EAE2D7;
    border-bottom: 2px solid lightgray;
    color: black;
    box-shadow: 0px 5px;
    transition: 0.3s;
    z-index: 999;
}

.nav-static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
    position: static;
    /* transition: 0.3s; */
}

.hamburger-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #EAE2D7;
    border-bottom: 2px solid lightgray;
    color: black;
    box-shadow: 0px 5px;
    transition: 0.3s;
    z-index: 999;
}

.hamburger-static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
    position: static;
    /* transition: 0.3s; */
}

.background-img-left {
    display: inline-block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.background-img-right {
    display: inline-block !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.half-width {
    width: 50%;
}

.img-static {
    visibility: hidden;
}

.img-fixed {
    visibility: block;
}

@keyframes card-enlargement {
    0% {
        height: 100%;
    }

    100% {
        height: 30%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation-name: card-enlargement;
    animation-duration: 3s; */
}

.card .card-header {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    /* Ensures positioning context for the image */
    overflow: hidden;
    height: 70%;
    width: 100%;
    /* animation-duration: 3s; */
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card h4 {
    line-height: 1.5rem !important;
}

.card .card-body p {
    display: hidden;
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .card-body p {
    display: block;
    opacity: 100%;
}

.card .card-body {
    height: 30%;
    width: 100%;
    overflow: hidden;
    /* animation-duration: 3s; */
    transition: height 0.3s ease-in-out;
}

.card:hover .card-header {
    height: 30%;
    background-color: rgb(0, 0, 0, 30%);

    /* animation-name: card-enlargement;
    animation-duration: 0.2s; */
}

.card-header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
    /* Maintain image aspect ratio */
    object-fit: contain;
    /* Ensures the image covers the container */
}

.card:hover .card-body {
    height: 70%;
}

/* HAMBURGER ANIMATION */

#hamburger-input {
    visibility: hidden;
}

#hamburger-menu #sidebar-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

#hamburger-menu #sidebar-menu ul a {
    color: #FDFDFD;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}

#hamburger-menu #sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: -1000px;
    right: 0;
    height: 300px;
    width: 100%;
    padding-top: 0;
    transition: 0.4s;
    background-color: #EAE2D7;
    color: #000;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    top: 0;
}

/* Calendar */

.calendar-wrapper {
    background-color: #EAE2D7;
    margin-bottom: 20px;
}

.calendar-wrapper>p {
    width: 50%;
    height: 300px;
    color: black !important;
}

.calendar-header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

.calendar-header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar-header .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.calendar-header .icons img {
    /* height: 38px; */
    position: relative;
    width: 18px;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    /* background: #2f2f2f; */
    border-radius: 50%;
    cursor: pointer;

}

/* 
.calendar-header .icons img::before {
    position: absolute;
    width: 38px;
    height: 38px;
    background: #2f2f2f;
    border-radius: 50%;
} */

.calendar-header .icons img:hover {
    background-color: #007300;
}

.calendar-header .icons img:last-child {
    margin-right: -10px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .weeks li {
    font-weight: 500;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .days li {
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}

.days li.inactive {
    color: #777;
}

.days li.active {
    color: #fff;
}

.days li.active::before {
    background-color: #007300;
}

.calendar ul li {
    width: calc(100% / 7);
    position: relative;

}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.days li:hover::before {
    background: #ccc;
}

/* HOURS */

.lower-wrapper { 
    display: flex;
    flex-direction: row;
    background-color: #eae2d7;
}

.day-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #EAE2D7;
    border-left: 2px solid black;
}

.day-wrapper>p {
    width: 50%;
    height: 300px;
    color: black !important;
}

.day-wrapper > .icons {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    margin: 10px 5px;
}

.day-wrapper .icons p {
    margin: 10px 10px;
}

/* .spot-wrapper > .icons > p {
    text-align: center;
} */

.day-calendar ul {
    display: flex;
    /* flex-direction: row; */
    list-style: none;
    flex-wrap: wrap;
    margin: 10px 5px;
    max-width: 435px;
}

.day-calendar ul li {
    margin-bottom: 10px;
    width: calc(100% / 6);
    position: relative;
    text-align: center;
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1/6; */
}

@media (max-width: 768px) {
    .day-calendar ul li {
        flex-basis: calc(100% / 4); /* Four items per row for medium screens */
    }
}

.day-calendar .hours li {
    /* margin-top: 30px; */
    cursor: pointer;
    z-index: 1;
}

.hours li.inactive {
    color: #777;
}

.hours li.active {
    color: #fff;
}

.hours li.active::before {
    background-color: #007300;
}

.day-calendar .hours li::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    z-index: -1;
}

.hours li:hover::before {
    background: #ccc;
}

/* SPOTS */

.spot-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #EAE2D7;
    margin-bottom: 20px;
}

.spot-wrapper ul {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.spot-wrapper ul li {
    position: relative;
    margin: 20px 15px;
    text-align: center;
}


.spot-wrapper ul li.inactive {
    color: #777;
}

.spot-wrapper ul li.active {
    color: #fff;
}

.spot-wrapper ul li.active::before {
    background-color: #007300;
}

.spot-wrapper ul li {
    /* margin-top: 30px; */
    cursor: pointer;
    z-index: 1;
}

.spot-wrapper ul li::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    z-index: -1;
}

.spot-wrapper ul li:hover::before {
    background: #ccc;
}

/* Popups nach Form Submission */

.popup-div-abgelehnt {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.popup-div-akzeptiert {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.popup-card-abgelehnt {
    display:flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 500px;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px;
    background-color:  #EAE2D7;
    border: black 4px solid;
    border-radius: 30px;
}

.popup-card-akzeptiert {
    display:flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    margin-top: -250px; /* Negative half of height. */
    margin-left: -250px;
    background-color:  #EAE2D7;
    border: black 4px solid;
    border-radius: 30px;
}


@media (max-width: 768px) {
    .popup-card-abgelehnt {
        height: 200px;
        width: 250px;
        margin-top: -100px; /* Negative half of height. */
        margin-left: -125px;
    }
}